In [1]:
import pandas as pd

data = {
    "Name": ["John", "Sarah", "Mike", "Indai"],
    "Age": [25,32.5, 32.5, 40],
    "Gender": ["Male", "Female", "Male", "Female"],
    "Salary": [50000, 52000, 57333, 70000]
}

df = pd.DataFrame(data)

print(df)

    Name   Age  Gender  Salary
0   John  25.0    Male   50000
1  Sarah  32.5  Female   52000
2   Mike  32.5    Male   57333
3  Indai  40.0  Female   70000

In [4]:
# Min-Max Scaling
from sklearn.preprocessing import MinMaxScaler

scaler = MinMaxScaler()
df[['Age', 'Salary']] = scaler.fit_transform(df[['Age', 'Salary']])

print(df)

    Name  Age  Gender   Salary
0   John  0.0    Male  0.00000
1  Sarah  0.5  Female  0.10000
2   Mike  0.5    Male  0.36665
3  Indai  1.0  Female  1.00000

In [2]:
# Z-Score method
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()
df[['Age', 'Salary']] = scaler.fit_transform(df[['Age', 'Salary']])

print(df)

    Name       Age  Gender    Salary
0   John -1.414214    Male -0.941502
1  Sarah  0.000000  Female -0.684726
2   Mike  0.000000    Male -0.000032
3  Indai  1.414214  Female  1.626261

In [3]:
# Robust Scaling
from sklearn.preprocessing import RobustScaler

scaler = RobustScaler()
df[['Age', 'Salary']] = scaler.fit_transform(df[['Age', 'Salary']])

print(df)

    Name  Age  Gender    Salary
0   John -2.0    Male -0.518514
1  Sarah  0.0  Female -0.296286
2   Mike  0.0    Male  0.296286
3  Indai  2.0  Female  1.703770