In [ ]:
import pandas as pd

data = {
    "Name": ["John", "Sarah", "Mike", "John", "Indai"],
    "Age": [25,None, -10, 25, 40],
    "Gender": ["M", "Female", "male", "M", "F"],
    "Salary": [50000, 52000, None, 50000, 70000]
}

df = pd.DataFrame(data)

print(df)

    Name   Age  Gender   Salary
0   John  25.0       M  50000.0
1  Sarah   NaN  Female  52000.0
2   Mike -10.0    male      NaN
3   John  25.0       M  50000.0
4  Indai  40.0       F  70000.0

In [ ]:
print(df.isnull())

    Name    Age  Gender  Salary
0  False  False   False   False
1  False   True   False   False
2  False  False   False    True
3  False  False   False   False
4  False  False   False   False

In [ ]:
print(df.duplicated())

0    False
1    False
2    False
3     True
4    False
dtype: bool

In [ ]:
df = df.drop_duplicates()
print(df)

    Name   Age  Gender   Salary
0   John  25.0       M  50000.0
1  Sarah   NaN  Female  52000.0
2   Mike -10.0    male      NaN
4  Indai  40.0       F  70000.0

In [ ]:
# Find rows with negative ages
negative_ages = df[df['Age'] < 0]
print(negative_ages)

   Name   Age Gender  Salary
2  Mike -10.0   male     NaN

In [ ]:
import numpy as np

df['Age'] = df['Age'].apply(lambda x: np.nan if x < 0 else x)

print(df)

    Name   Age  Gender   Salary
0   John  25.0       M  50000.0
1  Sarah   NaN  Female  52000.0
2   Mike   NaN    male      NaN
4  Indai  40.0       F  70000.0

In [ ]:
df['Age'] = df['Age'].fillna(df['Age'].mean())
df['Salary'] = df['Salary'].fillna(df['Salary'].mean())


print(df)

    Name   Age  Gender        Salary
0   John  25.0       M  50000.000000
1  Sarah  32.5  Female  52000.000000
2   Mike  32.5    male  57333.333333
4  Indai  40.0       F  70000.000000

In [ ]:
# df["Gender"].str.lower().map({
#     "m": "Male",
#     "male": "Male",
#     "f": "Female",
#     "female": "Female"
# })

df["Gender"] = df["Gender"].replace({
    "M": "Male",
    "male": "Male",
    "F": "Female",
    "Female": "Female"
})

print(df)

    Name   Age  Gender        Salary
0   John  25.0    Male  50000.000000
1  Sarah  32.5  Female  52000.000000
2   Mike  32.5    Male  57333.333333
4  Indai  40.0  Female  70000.000000

In [ ]:
# Min-Max Scaling
from sklearn.preprocessing import MinMaxScaler

scaler = MinMaxScaler()
df[['Age', 'Salary']] = scaler.fit_transform(df[['Age', 'Salary']])

print(df)

    Name  Age  Gender    Salary
0   John  0.0    Male  0.000000
1  Sarah  0.5  Female  0.100000
2   Mike  0.5    Male  0.366667
4  Indai  1.0  Female  1.000000

In [ ]:
(df["Age"] - df["Age"].min()) / (df["Age"].max() - df["Age"].min())
(df["Salary"] - df["Salary"].min()) / (df["Salary"].max() - df["Salary"].min())

print(df)

    Name  Age  Gender    Salary
0   John  0.0    Male  0.000000
1  Sarah  0.5  Female  0.100000
2   Mike  0.5    Male  0.366667
4  Indai  1.0  Female  1.000000